nav {
    background-color: #004A8E;
    color: #FFFFFF;
}

.navbar-brand {
    margin-right: 40rem;
}

body {
    font-family: Raleway;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
  }

  .center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  a {
      color: #004A8E;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #004A8E;
    cursor: default;
    background-color: #FFAF00;
  }


.modal-content {
    width: 940px;
    height: 700px;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.carousel-caption {
    background-color: #00000e80;
}

@media screen and (max-width:600px) {
    body {
        padding-left: 40px;
        padding-right: 40px;
    }

    .center {
        width: 90%;
    }
}

@media screen and (max-width:900px) {

    .modal-content, .modal-body img {
        width: 98%;
        height: 98%;
    }
}

.center-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}